@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="theme-color" content="#13b506">
    <meta name="msapplication-navbutton-color" content="#13b506">
    <meta name="apple-mobile-web-app-status-bar-style" content="#13b506">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <title>Truyện tranh</title>

    <link rel='stylesheet' id='wp-block-library-css' href='css/wp-includes/css/dist/block-library/style.min.css' media='all' />


    <link href="css/publicalle67d.css rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/phim.css" rel="stylesheet">
    <link href="css/bootstrap194c.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="js/carouFredSel.js"></script>
    <script type="text/javascript" src="js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="js/jquery.dcmegamenu.1.3.3.js"></script>
    <script type="text/javascript" src="js/jquery.gibberish.aes.js"></script>
    <script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="js/jquery.ellipsis.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.md5.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/fx/util.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script async="true" src="js/content.gophim7c7f.js"></script>
    <link href="css/homeboyd537.css" rel="stylesheet" />
    <script src="js/jquery.raty.js" type="text/javascript"></script>
    <script src="js/public.film456.js" type="text/javascript"></script>
    <script src="js/film-info.js" type="text/javascript"></script>
</head>

<body>
    <div class="top-message"></div>
    <header>
        <div class="header">
            <div class="container">
                <div class="header-logo"><a class="logo" href="#" title="logo"><img style="padding: 8px 40px 8px 15px;" src="~/lib/img/logo/Anything.png" data-lazy-src=""><noscript><img src="../websudo/wp-content/uploads/2021/logo/Anything.png"></noscript></a></div>
                <div class="widget_search">
                    <form method="GET" id="form-search" action="search/">
                        <div><input type="text" name="keyword" placeholder="Tìm: Tên truyện" value="" onkeyup="onSearch(this.value)" id="searchkeyword" autocomplete="off"><input id="searchsubmit" class="" value=" " type="submit"></div>
                    </form>
                    <div class="search-suggest" style="display: none;">
                        <ul style="margin-bottom: 0;" id="search-suggest-list"></ul>
                    </div>
                </div>
                <div class="widget_user_header"><a class="button-register" rel="nofollow" href="#"></a><a class="button-login" rel="nofollow" href="#"></a></div>
            </div>
        </div>
    </header>
    <div class="clear"></div>

    <head>
        <meta name="theme-color" content="#f6a047">
    </head>
    <nav>
        <div class="clear"></div>
        <div class="container">
            <div class="menu-menu-1-container">
                <ul id="mega-menu-1" class="menu">
                    <li><a title="Phim Mới" href="#">Trang chủ</a></li>
                    <li>
                        <a title="Thể Loại" href="#">Thể Loại</a>
                        <ul>
                            <li><a title="Tag Truyện" href="">Tag Truyện1</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện2</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện3</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện4</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện5</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện6</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện7</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện8</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện9</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện10</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện11</a></li>
                            <li><a title="Tag Truyện" href="">Tag Truyện12</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="clear"></div>
    <div class="container">
        <div class="clear"></div>
        <div class="row top-movie">
            <div class="col-lg-12">
                <h2 class="header-list-index"><span class="title-list-index">Truyện HOT</span></h2>
                <div class="top-movie-list block-wrapper">
                    <div class="list_carousel">
                        <ul id="movie-carousel-top">
                            <li>
                                <a href="#" title="Shang-Chi Và Huyền Thoại Thập Nhẫn - Shang-Chi and the Legend of the Ten Rings">
                                    <div data-bg="../websudo/wp-content/uploads/2021/09/shang-chi-va-huyen-thoai-thap-nhan-51239-thumbnail.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Shang-Chi Và Huyền Thoại Thập Nhẫn</h3>
                                            <h4 class="movie-name-2">Shang-Chi and the Legend of the Ten Rings</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Giải Cứu ‘Guy’ - Free Guy">
                                    <div data-bg="../websudo/wp-content/uploads/2021/logo/611727c62b3cf.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Giải Cứu ‘Guy’</h3>
                                            <h4 class="movie-name-2">Free Guy</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Đảo Hải Tặc - One Piece">
                                    <div data-bg="../websudo/wp-content/uploads/2021/logo/dao-hai-tac-34373-thumbnail.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Đảo Hải Tặc</h3>
                                            <h4 class="movie-name-2">One Piece</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Bạn Trai Thuê - Boy For Rent">
                                    <div data-bg="../websudo/wp-content/uploads/2021/07/18834-250x350.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Bạn Trai Thuê</h3>
                                            <h4 class="movie-name-2">Boy For Rent</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Góa Phụ Đen - Black Widow">
                                    <div data-bg="../websudo/wp-content/uploads/2021/07/goa-phu-den-250x350.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Góa Phụ Đen</h3>
                                            <h4 class="movie-name-2">Black Widow</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Loki (Phần 1) - Loki (Season 1)">
                                    <div data-bg="../websudo/wp-content/uploads/2021/07/60810af157ad7-250x350.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Loki (Phần 1)</h3>
                                            <h4 class="movie-name-2">Loki (Season 1)</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Nhóc Trùm: Nối Nghiệp Gia Đình - The Boss Baby: Family Business">
                                    <div data-bg="../websudo/wp-content/uploads/2021/07/60e02a5beab3f-250x350.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Nhóc Trùm: Nối Nghiệp Gia Đình</h3>
                                            <h4 class="movie-name-2">The Boss Baby: Family Business</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Vệ Sĩ Sát Thủ 2: Nhà Có Nóc - Hitman&#039;s Wife&#039;s Bodyguard">
                                    <div data-bg="../websudo/wp-content/uploads/2021/07/60c6a6a01280f-250x350.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Vệ Sĩ Sát Thủ 2: Nhà Có Nóc</h3>
                                            <h4 class="movie-name-2">Hitman&#039;s Wife&#039;s Bodyguard</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Chí Khí Bay Cao - New Horizon">
                                    <div data-bg="../websudo/wp-content/uploads/2021/06/chi-khi-bay-cao-6455-250x350.jpeg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Chí Khí Bay Cao</h3>
                                            <h4 class="movie-name-2">New Horizon</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Người Yêu Chàng Kỹ Sư - Nitiman">
                                    <div data-bg="../websudo/wp-content/uploads/2021/06/nguoi-yeu-chang-ky-su-9006-250x350.jpeg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Người Yêu Chàng Kỹ Sư</h3>
                                            <h4 class="movie-name-2">Nitiman</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Truy Tìm Kẻ Sát Nhân 4 - Voice 4: Judgment Hour">
                                    <div data-bg="../websudo/wp-content/uploads/2021/07/truy-tim-ke-sat-nhan-4-474-thumbnail-250x350.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Truy Tìm Kẻ Sát Nhân 4</h3>
                                            <h4 class="movie-name-2">Voice 4: Judgment Hour</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Yêu (Kết Hôn và Ly Dị) 2 - Love">
                                    <div data-bg="../websudo/wp-content/uploads/2021/07/yeu-ket-hon-va-ly-di-2-447-thumbnail-250x350.jpg" class="movie-carousel-top-item rocket-lazyload" style="">
                                        <div class="movie-carousel-top-item-meta">
                                            <h3 class="movie-name-1">Yêu (Kết Hôn và Ly Dị) 2</h3>
                                            <h4 class="movie-name-2">Love</h4>
                                            <span class="ribbon" style="top:-235px;">Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <a id="prevTop" class="prev" rel="nofollow"><span class="arrow-icon left"></span></a>
                        <a id="nextTop" class="next" rel="nofollow"><span class="arrow-icon right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">

                <div class="movie-list-index home-v2">
                    <h2 class="header-list-index">
                        <span class="title-list-index">Truyện</span>
                    </h2>
                    <div class="last-film-box-wrapper">
                        <ul class="last-film-box" id="movie-last-theater">
                            <li>
                                <a class="movie-item m-block" href="#" title="Cừu Non - Lamp (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/11/cuu-non-54825-thumbnail.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Cừu Non</div><span class="movie-title-2">Lamp (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Ngôi Nhà Dưới Nước - The Deep House (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/11/ngoi-nha-duoi-nuoc-54785-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Ngôi Nhà Dưới Nước</div><span class="movie-title-2">The Deep House (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Những Kẻ Nguyền Rủa - The Cursed: Dead Man’s Prey (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/nhung-ke-nguyen-rua-54584-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Những Kẻ Nguyền Rủa</div><span class="movie-title-2">The Cursed: Dead Man’s Prey (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Không Ai Ngủ Trong Rừng Đêm Nay 2 - Nobody Sleeps in the Woods Tonight 2 (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/khong-ai-ngu-trong-rung-dem-nay-2-54580-thumbnail.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Không Ai Ngủ Trong Rừng Đêm Nay 2</div><span class="movie-title-2">Nobody Sleeps in the Woods Tonight 2 (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Dạ Quỷ Rừng Sâu - The Widow (2020)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/da-quy-rung-sau-54434-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Dạ Quỷ Rừng Sâu</div><span class="movie-title-2">The Widow (2020)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Mẹ Tôi Gánh Đội - Mother Gamer (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/me-toi-ganh-doi-54397-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Mẹ Tôi Gánh Đội</div><span class="movie-title-2">Mother Gamer (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Cảnh Báo - Warning (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/canh-bao-54379-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Cảnh Báo</div><span class="movie-title-2">Warning (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Hành Tinh Cát - Dune (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/hanh-tinh-cat-54373-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Hành Tinh Cát</div><span class="movie-title-2">Dune (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Halloween Chết Chóc - Halloween Kills (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/halloween-chet-choc-54358-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Halloween Chết Chóc</div><span class="movie-title-2">Halloween Kills (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Âm Mưu Trộm Tranh - The Burnt Orange Heresy (2020)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/am-muu-trom-tranh-54351-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Âm Mưu Trộm Tranh</div><span class="movie-title-2">The Burnt Orange Heresy (2020)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Những Vị Thánh Của Newark - The Many Saints of Newark (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/nhung-vi-thanh-cua-newark-54336-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Những Vị Thánh Của Newark</div><span class="movie-title-2">The Many Saints of Newark (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="movie-item m-block" href="#" title="Sở Cảnh Sát - Copshop (2021)
		">
                                    <div class="block-wrapper">
                                        <div class="movie-thumbnail ratio-box ratio-3_4">
                                            <div data-bg="../websudo/wp-content/uploads/2021/10/so-canh-sat-54334-thumbnail-250x350.jpg" class="public-film-item-thumb ratio-content rocket-lazyload" style=""></div>
                                        </div>
                                        <div class="movie-meta">
                                            <div class="movie-title-1">Sở Cảnh Sát</div><span class="movie-title-2">Copshop (2021)</span>
                                            <span class="ribbon"> Sao đánh giá</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="page-navigation">
                    <ul class="pagination pagination-lg">
                        <li><span aria-current="page" class=" current">1</span></li>
                        <li><a class="" href="#">2</a></li>
                        <li><a class="" href="#">3</a></li>
                        <li><a class="" href="#">4</a></li>
                        <li><a class="next" href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <footer>
                <div class="footer">
                    <div class="container">
                        <div class="bar">
                            <div class="bar-wrap">
                                <div class="links">
                                    <img src="../websudo/wp-content/uploads/2021/logo/Anything.png" alt="Phim Mới" /><noscript><img src="../websudo/wp-content/uploads/2021/logo/Anything.png" alt="Phim Mới" /></noscript>
                                    <br>
                                </div>
                                <div class="textlink">
                                    <div class="hotlink">
                                        <h3 class="phimaz-foot">Tag truyện</h3>
                                        <a href="" title="Tag truyện">Tag truyện1</a>
                                        <a href="" title="Tag truyện">Tag truyện2</a>
                                        <a href="" title="Tag truyện">Tag truyện3</a>
                                        <a href="" title="Tag truyện">Tag truyện4</a>
                                        <a href="" title="Tag truyện">Tag truyện5</a>
                                    </div>
                                </div>

                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script>
            jQuery('body').append('<div id="fb-root"></div>');
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '877174926563381',
                    cookie: true,
                    xfbml: true,
                    version: 'v8.0'
                });
            };
            _loadFbSDk = function () {
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/vi_VN/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            }
            jQuery(window).load(function () {
                setTimeout("_loadFbSDk()", 100);
            });
        </script>
        <script type='text/javascript' id='rocket-browser-checker-js-after'>
            "use strict";
            var _createClass = function () {
                function defineProperties(target, props) {
                    for (var i = 0; i < props.length; i++) {
                        var descriptor = props[i];
                        descriptor.enumerable = descriptor.enumerable || !1, descriptor.configurable = !0, "value" in descriptor && (descriptor.writable = !0), Object.defineProperty(target, descriptor.key, descriptor)
                    }
                }
                return function (Constructor, protoProps, staticProps) {
                    return protoProps && defineProperties(Constructor.prototype, protoProps), staticProps && defineProperties(Constructor, staticProps), Constructor
                }
            }();

            function _classCallCheck(instance, Constructor) {
                if (!(instance instanceof Constructor)) throw new TypeError("Cannot call a class as a function")
            }
            var RocketBrowserCompatibilityChecker = function () {
                function RocketBrowserCompatibilityChecker(options) {
                    _classCallCheck(this, RocketBrowserCompatibilityChecker), this.passiveSupported = !1, this._checkPassiveOption(this), this.options = !!this.passiveSupported && options
                }
                return _createClass(RocketBrowserCompatibilityChecker, [{
                    key: "_checkPassiveOption",
                    value: function (self) {
                        try {
                            var options = {
                                get passive() {
                                    return !(self.passiveSupported = !0)
                                }
                            };
                            window.addEventListener("test", null, options), window.removeEventListener("test", null, options)
                        } catch (err) {
                            self.passiveSupported = !1
                        }
                    }
                }, {
                    key: "initRequestIdleCallback",
                    value: function () {
                        !1 in window && (window.requestIdleCallback = function (cb) {
                            var start = Date.now();
                            return setTimeout(function () {
                                cb({
                                    didTimeout: !1,
                                    timeRemaining: function () {
                                        return Math.max(0, 50 - (Date.now() - start))
                                    }
                                })
                            }, 1)
                        }), !1 in window && (window.cancelIdleCallback = function (id) {
                            return clearTimeout(id)
                        })
                    }
                }, {
                    key: "isDataSaverModeOn",
                    value: function () {
                        return "connection" in navigator && !0 === navigator.connection.saveData
                    }
                }, {
                    key: "supportsLinkPrefetch",
                    value: function () {
                        var elem = document.createElement("link");
                        return elem.relList && elem.relList.supports && elem.relList.supports("prefetch") && window.IntersectionObserver && "isIntersecting" in IntersectionObserverEntry.prototype
                    }
                }, {
                    key: "isSlowConnection",
                    value: function () {
                        return "connection" in navigator && "effectiveType" in navigator.connection && ("2g" === navigator.connection.effectiveType || "slow-2g" === navigator.connection.effectiveType)
                    }
                }]), RocketBrowserCompatibilityChecker
            }();
        </script>
        <script type='text/javascript' id='rocket-preload-links-js-after'>
            (function () {
                "use strict";
                var r = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (e) {
                    return typeof e
                } : function (e) {
                    return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e
                },
                    e = function () {
                        function i(e, t) {
                            for (var n = 0; n < t.length; n++) {
                                var i = t[n];
                                i.enumerable = i.enumerable || !1, i.configurable = !0, "value" in i && (i.writable = !0), Object.defineProperty(e, i.key, i)
                            }
                        }
                        return function (e, t, n) {
                            return t && i(e.prototype, t), n && i(e, n), e
                        }
                    }();

                function i(e, t) {
                    if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function")
                }
                var t = function () {
                    function n(e, t) {
                        i(this, n), this.browser = e, this.config = t, this.options = this.browser.options, this.prefetched = new Set, this.eventTime = null, this.threshold = 1111, this.numOnHover = 0
                    }
                    return e(n, [{
                        key: "init",
                        value: function () {
                            !this.browser.supportsLinkPrefetch() || this.browser.isDataSaverModeOn() || this.browser.isSlowConnection() || (this.regex = {
                                excludeUris: RegExp(this.config.excludeUris, "i"),
                                images: RegExp(".(" + this.config.imageExt + ")$", "i"),
                                fileExt: RegExp(".(" + this.config.fileExt + ")$", "i")
                            }, this._initListeners(this))
                        }
                    }, {
                        key: "_initListeners",
                        value: function (e) {
                            -1 < this.config.onHoverDelay && document.addEventListener("mouseover", e.listener.bind(e), e.listenerOptions), document.addEventListener("mousedown", e.listener.bind(e), e.listenerOptions), document.addEventListener("touchstart", e.listener.bind(e), e.listenerOptions)
                        }
                    }, {
                        key: "listener",
                        value: function (e) {
                            var t = e.target.closest("a"),
                                n = this._prepareUrl(t);
                            if (null !== n) switch (e.type) {
                                case "mousedown":
                                case "touchstart":
                                    this._addPrefetchLink(n);
                                    break;
                                case "mouseover":
                                    this._earlyPrefetch(t, n, "mouseout")
                            }
                        }
                    }, {
                        key: "_earlyPrefetch",
                        value: function (t, e, n) {
                            var i = this,
                                r = setTimeout(function () {
                                    if (r = null, 0 === i.numOnHover) setTimeout(function () {
                                        return i.numOnHover = 0
                                    }, 1e3);
                                    else if (i.numOnHover > i.config.rateThrottle) return;
                                    i.numOnHover++, i._addPrefetchLink(e)
                                }, this.config.onHoverDelay);
                            t.addEventListener(n, function e() {
                                t.removeEventListener(n, e, {
                                    passive: !0
                                }), null !== r && (clearTimeout(r), r = null)
                            }, {
                                passive: !0
                            })
                        }
                    }, {
                        key: "_addPrefetchLink",
                        value: function (i) {
                            return this.prefetched.add(i.href), new Promise(function (e, t) {
                                var n = document.createElement("link");
                                n.rel = "prefetch", n.href = i.href, n.onload = e, n.onerror = t, document.head.appendChild(n)
                            }).catch(function () { })
                        }
                    }, {
                        key: "_prepareUrl",
                        value: function (e) {
                            if (null === e || "object" !== (void 0 === e ? "undefined" : r(e)) || !1 in e || -1 === ["http:", "https:"].indexOf(e.protocol)) return null;
                            var t = e.href.substring(0, this.config.siteUrl.length),
                                n = this._getPathname(e.href, t),
                                i = {
                                    original: e.href,
                                    protocol: e.protocol,
                                    origin: t,
                                    pathname: n,
                                    href: t + n
                                };
                            return this._isLinkOk(i) ? i : null
                        }
                    }, {
                        key: "_getPathname",
                        value: function (e, t) {
                            var n = t ? e.substring(this.config.siteUrl.length) : e;
                            return n.startsWith("/") || (n = "/" + n), this._shouldAddTrailingSlash(n) ? n + "/" : n
                        }
                    }, {
                        key: "_shouldAddTrailingSlash",
                        value: function (e) {
                            return this.config.usesTrailingSlash && !e.endsWith("/") && !this.regex.fileExt.test(e)
                        }
                    }, {
                        key: "_isLinkOk",
                        value: function (e) {
                            return null !== e && "object" === (void 0 === e ? "undefined" : r(e)) && (!this.prefetched.has(e.href) && e.origin === this.config.siteUrl && -1 === e.href.indexOf("?") && -1 === e.href.indexOf("#") && !this.regex.excludeUris.test(e.href) && !this.regex.images.test(e.href))
                        }
                    }], [{
                        key: "run",
                        value: function () {
                            "undefined" != typeof RocketPreloadLinksConfig && new n(new RocketBrowserCompatibilityChecker({
                                capture: !0,
                                passive: !0
                            }), RocketPreloadLinksConfig).init()
                        }
                    }]), n
                }();
                t.run();
            }());
        </script>
        <script>
            window.lazyLoadOptions = {
                elements_selector: "img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",
                data_src: "lazy-src",
                data_srcset: "lazy-srcset",
                data_sizes: "lazy-sizes",
                class_loading: "lazyloading",
                class_loaded: "lazyloaded",
                threshold: 300,
                callback_loaded: function (element) {
                    if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") {
                        if (element.classList.contains("lazyloaded")) {
                            if (typeof window.jQuery != "undefined") {
                                if (jQuery.fn.fitVids) {
                                    jQuery(element).parent().fitVids()
                                }
                            }
                        }
                    }
                }
            };
            window.addEventListener('LazyLoad::Initialized', function (e) {
                var lazyLoadInstance = e.detail.instance;
                if (window.MutationObserver) {
                    var observer = new MutationObserver(function (mutations) {
                        var image_count = 0;
                        var iframe_count = 0;
                        var rocketlazy_count = 0;
                        mutations.forEach(function (mutation) {
                            for (i = 0; i < mutation.addedNodes.length; i++) {
                                if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
                                    continue
                                }
                                if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
                                    continue
                                }
                                images = mutation.addedNodes[i].getElementsByTagName('img');
                                is_image = mutation.addedNodes[i].tagName == "IMG";
                                iframes = mutation.addedNodes[i].getElementsByTagName('iframe');
                                is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
                                rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');
                                image_count += images.length;
                                iframe_count += iframes.length;
                                rocketlazy_count += rocket_lazy.length;
                                if (is_image) {
                                    image_count += 1
                                }
                                if (is_iframe) {
                                    iframe_count += 1
                                }
                            }
                        });
                        if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
                            lazyLoadInstance.update()
                        }
                    });
                    var b = document.getElementsByTagName("body")[0];
                    var config = {
                        childList: !0,
                        subtree: !0
                    };
                    observer.observe(b, config)
                }
            }, !1)
        </script>
        <script data-no-minify="1" async src="../websudo/wp-content/plugins/wp-rocket/assets/js/lazyload/16.1/lazyload.min.js"></script>
        <script>
            function lazyLoadThumb(e) {
                var t = '<img loading="lazy" data-lazy-src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"><noscript><img src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"></noscript>',
                    a = '<div class="play"></div>';
                return t.replace("ID", e) + a
            }

            function lazyLoadYoutubeIframe() {
                var e = document.createElement("iframe"),
                    t = "ID?autoplay=1";
                t += 0 === this.dataset.query.length ? '' : '&' + this.dataset.query;
                e.setAttribute("src", t.replace("ID", this.dataset.src)), e.setAttribute("frameborder", "0"), e.setAttribute("allowfullscreen", "1"), e.setAttribute("allow", "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"), this.parentNode.replaceChild(e, this)
            }
            document.addEventListener("DOMContentLoaded", function () {
                var e, t, a = document.getElementsByClassName("rll-youtube-player");
                for (t = 0; t < a.length; t++) e = document.createElement("div"), e.setAttribute("data-id", a[t].dataset.id), e.setAttribute("data-query", a[t].dataset.query), e.setAttribute("data-src", a[t].dataset.src), e.innerHTML = lazyLoadThumb(a[t].dataset.id), e.onclick = lazyLoadYoutubeIframe, a[t].appendChild(e)
            });
        </script>
</body>
</html>
