<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='robots' content='index, follow' />
    <meta name="googlebot-news" content="index,follow" />
    <link rel="stylesheet" href="/assets/css/style.css?id=4520ad5b349f1903c680" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header class="site-header">
        <div class="c-header__top">
            <ul class="search-main-menu">
                <li>
                    <form id="blog-post-search" class="ajax manga-search-form" action="https://saytruyen.net/search" method="get">
                        <input type="text" placeholder="Search..." name="s" value="" class="manga-search-field ui-autocomplete-input" autocomplete="off" required>
                        <a href="javascript:void(0)" class="close-form-search"><i class="icon ion-md-close"></i></a>
                        <button type="submit"><i class="icon ion-md-search"></i></button>
                        <div class="loader-inner line-scale">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="ui-menu" style="display: none;"></div>
                    </form>
                </li>
            </ul>
            <div class="main-navigation style-1 ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-navigation_wrap">
                                <div class="wrap_branding">
                                    <a class="logo" href="https://saytruyen.net" title="Say Truyện | Đọc Truyện Tranh Manga Manhwa Manhua Online">
                                        <img width="159" height="30" class="img-responsive" src="https://saytruyen.net/assets/images/logo.png" alt="Say Truyện | Đọc Truyện Tranh Manga Manhwa Manhua Online">
                                    </a>
                                </div>
                                <div class="main-menu">
                                    <ul class="nav navbar-nav main-navbar">
                                        <li>
                                            <a href="https://saytruyen.net/genre">Thể Loại</a>
                                        </li>
                                        <li>
                                            <a href="https://saytruyen.net/completed">Hoàn Thành</a>
                                        </li>
                                        <li>
                                            <a href="https://saytruyen.net/history">Lịch Sử</a>
                                        </li>
                                        <li>
                                            <a href="https://saytruyen.net/user/bookmark">Đang theo dõi</a>
                                        </li>
                                        <li class="up-manga">
                                            <a href="https://saytruyen.net/user-panel" class="menu-link  main-menu-link">
                                                Đăng
                                                Truyện
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <label class="switch">
                                    <input type="checkbox"> <span class="slider round"></span>
                                </label>
                                <div class="search-navigation search-sidebar">
                                    <ul class="main-menu-search nav-menu">
                                        <li class="menu-search">
                                            <a href="javascript:;" class="open-search-main-menu">
                                                <i class="icon ion-md-search"></i>
                                                <i class="icon ion-android-close"></i>
                                            </a>
                                            <ul class="search-main-menu">
                                                <li>
                                                    <form class="manga-search-form search-form ajax" action="https://saytruyen.net/search" method="get">
                                                        <input class="manga-search-field ui-autocomplete-input" type="text" placeholder="Search..." name="s" value="" autocomplete="off">
                                                        <input type="hidden" name="post_type" value="wp-manga"> <i class="icon ion-ios-search"></i>
                                                        <div class="loader-inner ball-clip-rotate-multiple">
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                        <input type="submit" value="Search">
                                                        <ul id="ui-id-2" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="c-togle__menu">
                                    <button type="button" class="menu_icon__open">
                                        <span></span> <span></span> <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu off-canvas">
            <div class="close-nav">
                <button class="menu_icon__close">
                    <span></span> <span></span>
                </button>
            </div>
            <div class="c-modal_item">
                <div class="c-user_item">
                    <span style="color: white">Hi, huynhquanglinhpy2016</span>
                    <div class="c-user_avatar">
                        <div class="c-user_avatar-image"><img alt="avatar" src="https://saytruyen.net/assets/images/avatar/default.png" srcset="https://saytruyen.net/assets/images/avatar/default.png?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo" height="50" width="50" loading="lazy"></div>
                        <ul class="c-user_menu">
                            <li>
                                <a href="https://saytruyen.net/user/setting">Cài Đặt</a>
                            </li>
                            <li>
                                <form id="logout-form" action="https://saytruyen.net/admin/logout" method="POST" style="display: none;">
                                    <input type="hidden" name="_token" value="q6SzwwhkXTAG4LBOnuv9064QoICm5hhHJ5718ky8">
                                </form>
                                <a href="#" class="dropdown-item" role="button" onclick="
                                event.preventDefault();
                                document.getElementById('logout-form').submit();">Đăng Xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="off-menu">
                <ul id="menu-main-menu-1" class="nav navbar-nav main-navbar">
                    <li>
                        <a href="https://saytruyen.net/genre" class="menu-link  main-menu-link"> Thể Loại </a>
                    </li>
                    <li>
                        <a href="https://saytruyen.net/completed" class="menu-link  main-menu-link"> Hoàn Thành </a>
                    </li>
                    <li>
                        <a href="https://saytruyen.net/history" class="menu-link  main-menu-link"> Lịch Sử </a>
                    </li>
                    <li>
                        <a href="https://saytruyen.net/user/bookmark">Đang theo dõi</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sub-header-nav with-border">
            <div class="container">
                <div class="sub-nav_content">
                    <ul class="sub-nav_list list-inline second-menu">
                        <li>
                            <a href="https://saytruyen.net/genre/manhwa">Manhwa</a>
                        </li>
                        <li>
                            <a href="https://saytruyen.net/genre/manga">Manga</a>
                        </li>
                        <li>
                            <a href="https://saytruyen.net/genre/manhua">Manhua</a>
                        </li>
                        <li>
                            <a href="https://saytruyen.net/genre/romance">Romance</a>
                        </li>
                    </ul>
                </div>
                <div class="c-modal_item">

                    <div class="c-user_item">
                        <span>Hi, huynhquanglinhpy2016</span>
                        <div class="c-user_avatar">
                            <div class="c-user_avatar-image">
                                <img alt="avatar" src="https://saytruyen.net/assets/images/avatar/default.png" srcset="https://saytruyen.net/assets/images/avatar/default.png?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo" height="50" width="50"
                                     loading="lazy">
                            </div>
                            <ul class="c-user_menu">
                                <li>
                                    <a href="https://saytruyen.net/user/setting">Cài Đặt</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item" role="button" onclick="
                                                event.preventDefault();
                                                document.getElementById('logout-form').submit();">
                                        Đăng Xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="site-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="main-col-inner">
                        <div class="c-blog-post post-5 status-publish hentry">
                            <div class="entry-header">
                                <div class="entry-title">
                                    <h1 class="item-title h2">Cài Đặt</h1>
                                </div>
                                <div class="entry-meta">
                                </div>
                            </div>
                            <div class="entry-content">
                                <div class="row settings-page">
                                    <div class="col-md-3 col-sm-3">
                                        <div class="nav-tabs-wrap">
                                            <ul class="nav nav-tabs">
                                                <li>
                                                    <a href="#list-bookmark" data-toggle="tab" class="">
                                                        <i class="icon ion-ios-bookmark"></i>Đang theo dõi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#history" data-toggle="tab">
                                                        <i class="icon ion-md-alarm"></i>Lịch Sử
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#account" data-toggle="tab" class="active">
                                                        <i class="icon ion-md-person"></i>
                                                        Cài Đặt
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9">
                                        <div class="tabs-content-wrap">
                                            <div class="tab-content">
                                                <div class="tab-pane " id="list-bookmark">
                                                    <table class="table table-hover list-bookmark">
                                                        <thead>
                                                            <tr>
                                                                <th>Manga Name</th>
                                                                <th>Updated Time</th>
                                                                <th>Edit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="tab-pane fade" id="history">
                                                    <div class="tab-group-item">
                                                        <div class="tab-item tab-item-history">
                                                            <div class="row">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show active" id="account">
                                                    <form method="post" id="form-account-settings" action="https://saytruyen.net/user/setting">
                                                        <input type="hidden" name="_token" value="q6SzwwhkXTAG4LBOnuv9064QoICm5hhHJ5718ky8">
                                                        <div class="tab-group-item">
                                                            <div class="tab-item">
                                                                <div class="settings-title">
                                                                    <h3>Change Your Display name </h3>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="name-input" class="col-md-3">Current Display name</label>
                                                                    <div class="col-md-9">
                                                                        <span class="show">huynhquanglinhpy2016</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="name-input" class="col-md-3">New Display name</label>
                                                                    <div class="col-md-9">
                                                                        <input class="form-control" type="text" value="huynhquanglinhpy2016" name="name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-item">
                                                                <div class="settings-title">
                                                                    <h3>
                                                                        Change Your email address
                                                                    </h3>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email-input" class="col-md-3">Your email</label>
                                                                    <div class="col-md-9">
                                                                        <span class="show"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="523a272b3c3a2327333c353e3b3c3a222b6062636412353f333b3e7c313d3f">[email&#160;protected]</a></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email-input" class="col-md-3">New email address</label>
                                                                    <div class="col-md-9">
                                                                        <input class="form-control" type="email" value="huynhquanglinhpy2016@gmail.com" id="email-input" name="email">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-item">
                                                                <div class="settings-title">
                                                                    <h3> Change Your Password </h3>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="currrent-password-input" class="col-md-3">Current Password</label>
                                                                    <div class="col-md-9">
                                                                        <input class="form-control" type="password" value="$2y$10$TfyXFbuUNJ6uJQknfee6Xejd0T62dg9hAzskaT3k5i42BUQmX5Nz2">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="new-password-input" class="col-md-3">New Password</label>
                                                                    <div class="col-md-9">
                                                                        <input class="form-control" type="password" value="" name="password">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="comfirm-password-input" class="col-md-3">Comfirm Password</label>
                                                                    <div class="col-md-9">
                                                                        <input class="form-control" type="password" value="" name="password_confirmation">
                                                                        <span id="password-strength"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="password-input-submit" class="col-md-3"></label>
                                                                    <div class="col-md-9">
                                                                        <label id="checkbox-weak-password" style="display:none"><input type="checkbox" id="agree-weak-password">I agree to use this weak password</label>
                                                                        <input class="form-control" type="submit" value="Submit">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-sidebar" id="bottom-sidebar">
        <div class="container">
            <div class="genres">
                <div class="widget-heading">
                    <h5 class="heading">Thể loại</h5>
                </div>
                <ul class="row list-unstyled">
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/action">
                            <i class="icon ion-md-arrow-dropright"></i> Action
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/adult">
                            <i class="icon ion-md-arrow-dropright"></i> Adult
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/adventure">
                            <i class="icon ion-md-arrow-dropright"></i> Adventure
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/comedy">
                            <i class="icon ion-md-arrow-dropright"></i> Comedy
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/cooking">
                            <i class="icon ion-md-arrow-dropright"></i> Cooking
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/detective">
                            <i class="icon ion-md-arrow-dropright"></i> Detective
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/doujinshi">
                            <i class="icon ion-md-arrow-dropright"></i> Doujinshi
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/drama">
                            <i class="icon ion-md-arrow-dropright"></i> Drama
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/ecchi">
                            <i class="icon ion-md-arrow-dropright"></i> Ecchi
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/fantasy">
                            <i class="icon ion-md-arrow-dropright"></i> Fantasy
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/gender-bender">
                            <i class="icon ion-md-arrow-dropright"></i> Gender Bender
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/harem">
                            <i class="icon ion-md-arrow-dropright"></i> Harem
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/historical">
                            <i class="icon ion-md-arrow-dropright"></i> Historical
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/horror">
                            <i class="icon ion-md-arrow-dropright"></i> Horror
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/josei">
                            <i class="icon ion-md-arrow-dropright"></i> Josei
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/manga">
                            <i class="icon ion-md-arrow-dropright"></i> Manga
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/manhua">
                            <i class="icon ion-md-arrow-dropright"></i> Manhua
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/manhwa">
                            <i class="icon ion-md-arrow-dropright"></i> Manhwa
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/martial-arts">
                            <i class="icon ion-md-arrow-dropright"></i> Martial Arts
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/mature">
                            <i class="icon ion-md-arrow-dropright"></i> Mature
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/mecha">
                            <i class="icon ion-md-arrow-dropright"></i> Mecha
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/mystery">
                            <i class="icon ion-md-arrow-dropright"></i> Mystery
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/one-shot">
                            <i class="icon ion-md-arrow-dropright"></i> One shot
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/psychological">
                            <i class="icon ion-md-arrow-dropright"></i> Psychological
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/romance">
                            <i class="icon ion-md-arrow-dropright"></i> Romance
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/school-life">
                            <i class="icon ion-md-arrow-dropright"></i> School Life
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/sci-fi">
                            <i class="icon ion-md-arrow-dropright"></i> Sci-fi
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/seinen">
                            <i class="icon ion-md-arrow-dropright"></i> Seinen
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/shoujo">
                            <i class="icon ion-md-arrow-dropright"></i> Shoujo
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/shoujo-ai">
                            <i class="icon ion-md-arrow-dropright"></i> Shoujo Ai
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/shounen">
                            <i class="icon ion-md-arrow-dropright"></i> Shounen
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/shounen-ai">
                            <i class="icon ion-md-arrow-dropright"></i> Shounen Ai
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/slice-of-life">
                            <i class="icon ion-md-arrow-dropright"></i> Slice of Life
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/smut">
                            <i class="icon ion-md-arrow-dropright"></i> Smut
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/soft-yaoi">
                            <i class="icon ion-md-arrow-dropright"></i> Soft Yaoi
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/soft-yuri">
                            <i class="icon ion-md-arrow-dropright"></i> Soft Yuri
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/sports">
                            <i class="icon ion-md-arrow-dropright"></i> Sports
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/supernatural">
                            <i class="icon ion-md-arrow-dropright"></i> Supernatural
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/tragedy">
                            <i class="icon ion-md-arrow-dropright"></i> Tragedy
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/webtoon">
                            <i class="icon ion-md-arrow-dropright"></i> Webtoon
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/yaoi">
                            <i class="icon ion-md-arrow-dropright"></i> Yaoi
                        </a>
                    </li>
                    <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-6">
                        <a href="https://saytruyen.net/genre/yuri">
                            <i class="icon ion-md-arrow-dropright"></i> Yuri
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-footer">
                            <ul class="list-inline">
                                <li><a href="https://saytruyen.net/privacy-policy">Điều Khoản</a></li>
                                <li><a href="https://saytruyen.net/tos">Chính Sách</a></li>
                                <li><a href="https://saytruyen.net/contact-us">Liên lạc</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>© 2021 <a href="https://saytruyen.net">SayTruyen, </a><a href="/cdn-cgi/l/email-protection#fede8d9f878a8c8b879b90be99939f9792d09d9193">Mail to ads <span class="__cf_email__" data-cfemail="0f7c6e767b7d7a766a614f68626e6663216c6062">[email&#160;protected]</span></a>                                All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="wp-manga-section">
        <input type="hidden" name="bookmarking" value="0">
        <div class="modal fade" id="form-login" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="login" class="login">
                            <h3>
                                <a href="https://saytruyen.net" title="VipToon" tabindex="-1">Đăng Nhập</a>
                            </h3>
                            <p class="message login"></p>
                            <meta name="robots" content="max-image-preview:large">
                            <link rel="dns-prefetch" href="https://s.w.org/">
                            <form name="loginform" id="loginform" method="post">
                                <p>
                                    <label>
                                        Email * <br> <input type="text" name="log" class="input user_login" value="" size="20">
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Mật Khẩu * <br> <input type="password" autocomplete="" name="pwd" class="input user_pass" value="" size="20">
                                    </label>
                                </p>
                                <p>
                                </p>
                                <p class="forgetmenot">
                                    <label>
                                        <input name="rememberme" type="checkbox" id="rememberme" value="forever">Nhớ thông tin
                                    </label>
                                </p>
                                <input hidden id="login_url" value="https://saytruyen.net/user/login">
                                <input hidden id="register_url" value="https://saytruyen.net/user/register">
                                <input hidden id="reset_url" value="https://saytruyen.net/admin/password/email">
                                <p class="submit">
                                    <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Log In">
                                    <input type="hidden" name="testcookie" value="1">
                                </p>
                            </form>
                            <p class="nav">
                                <a href="javascript:void(0)" class="to-reset">Quên Mật Khẩu?</a>
                            </p>
                            <p class="backtoblog">
                                <a href="javascript:void(0)">← Quay lại trang chủ</a>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="form-sign-up" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="sign-up" class="login">
                            <h3>
                                <a href="https://saytruyen.net" title="VipToon" tabindex="-1">Đăng Kí</a>
                            </h3>
                            <p class="message register">Đăng Kí Sử Dụng</p>
                            <form name="registerform" id="registerform" novalidate="novalidate">
                                <p>
                                    <label>
                                        Tên Đăng Nhập * <br>
                                        <input type="text" name="user_sign-up" class="input user_login" value="" size="20">
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Email Địa Chỉ * <br>
                                        <input type="email" name="email_sign-up" class="input user_email" value="" size="20">
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Mật Khẩu *<br>
                                        <input type="password" name="pass_sign-up" autocomplete="" class="input user_pass" value="" size="25">
                                    </label>
                                </p>
                                <p>
                                </p>
                                <input type="hidden" name="redirect_to" value="">
                                <p class="submit">
                                    <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Register">
                                </p>
                            </form>
                            <p class="nav">
                                <a href="javascript:void(0)" class="to-login">Đăng Nhập</a> |
                                <a href="javascript:void(0)" class="to-reset">Quên Mật Khẩu?</a>
                            </p>
                            <p class="backtoblog">
                                <a href="javascript:void(0)">← Quay lại trang chủ</a>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="form-reset" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="reset" class="login">
                            <h3>
                                <a href="javascript:void(0)" class="to-reset">Quên Mật Khẩu?</a>
                            </h3>
                            <p class="message reset">Vui lòng nhập email của bạn, bạn sẽ nhận một link qua email để cài đặt lại password</p>
                            <form name="resetform" id="resetform" method="post">
                                <p>
                                    <label>
                                        Tên Đăng Nhập Hoặc Email Địa Chỉ <br>
                                        <input type="text" name="user_reset" id="user_reset" class="input" value="" size="20">
                                    </label>
                                </p>
                                <p class="submit">
                                    <input type="submit" name="wp-submit" class="button button-primary button-large wp-submit" value="Get New Password">
                                    <input type="hidden" name="testcookie" value="1">
                                </p>
                            </form>
                            <p>
                                <a class="backtoblog" href="javascript:void(0)">← Quay lại trang chủ</a>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="go-to-top">
        <i class="fa fa-arrow-up"></i>
    </div>
    <input type="hidden" name="_token" id="token" value="q6SzwwhkXTAG4LBOnuv9064QoICm5hhHJ5718ky8">
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
        let base_url = "https://saytruyen.net";
        let label_button_no_more = "Hết hàng rồi bạn ơi !!!!";
        let show_more = "Xem thêm";
    </script>
    <script type="text/javascript" src="/assets/js/all.js?id=aff2034caf2ddaf56236"></script>
</body>

</html>