@using Models.Entity
@model IEnumerable<Comment>

@foreach (Comment item in Model)
{
    <li class="comment-item">
        <a class="wrap-avatar">
            <img class="ls-is-cached" loading="lazy" alt="avatar-default" src="../Assets/img/avatar/default.jpg" />
        </a>
        <div class="box-content">
            <h3>@item.UserName</h3>
            <time class="time">@item.CreatedDate</time>
            <div class="comment-content">
                <span class="cmchapter">@item.TenChapter</span>
                <p>@item.Content</p>
            </div>
        </div>
    </li>
}