@using Models.Entity
@model IEnumerable<Comment>

<div id="binhluan">
    <div id="binhluan_section">
        <div class="c-blog__heading style-2 font-heading">
            <h2 class="h4"><i class="icon ion-md-star"></i>Comment (<span class="colorblue" id="kountcmt"></span>)</h2>
        </div>
        <input hidden value="" class="url-form-comment">
        <div class="wrap-form-binhluan">
            <div id="cmtlid" name="cmtlid" contenteditable="true" class="tiny comment_content" cols="40" rows="4" maxlength="500" placeholder="Nội dung thần thức..."></div>
            <textarea style="display: none;" id="hrcmt" name="hrcmt" class="comment_content"></textarea>
            <div class="binhluan-button">
                <div class="hint">
                    Spam is strictly prohibited, spam account will be deleted
                </div>
                <button id="sendcmt" type="button" class="btn-button" data-story-id="5397" data-chapter-id="276383" data-url="">Comment <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                <br class="clear">
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="wrap-list-binhluan">
                <div id="comments_load" class="list_comment">
                    <ul class="list_comment">
                        @foreach (Comment item in Model)
                        {
                            <li class="comment-item">
                                <a class="wrap-avatar">
                                    <img class="ls-is-cached" loading="lazy" alt="avatar-default" src="../Assets/img/avatar/default.jpg" />
                                </a>
                                <div class="box-content">
                                    <h3>@item.UserName</h3>
                                    <time class="time">@item.CreatedDate</time>
                                    <div class="comment-content">
                                        <span class="cmchapter">@item.TenChapter</span>
                                        <p>@item.Content</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

                <button class="btn btn-block btn-loadmore-comment" data-offset="10">Xem thêm</button>
            </div>
        }
    </div>
</div>